@import "../variables";

.header {
  height: var(--navbar-height);
  background-color: var(--primary);
  box-shadow: var(--elevation-high);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;

  button {
    font-weight: 600;
    font-size: 1em;
    box-shadow: none;
    color: #333;
    background-color: var(--primary);

    &.main {
      font-size: 1.2em;
    }

    &.active {
      box-shadow: var(--elevation-low);
    }

    & * {
      font-size: 1.4em;
    }
  }

  a.active button {
    background-color: var(--secondary);
    color: var(--white);
  }

  .menu-links,
  .sidenav-switcher,
  .end-bar {
    padding: 0 20px;
  }

  .menu-links {
    button {
      margin: 0 .2em;
    }
  }

  .sidenav-switcher {
    display: none;
  }

  .end-bar {
    display: flex;

    & * {
      margin: 0 1px;
    }
  }


  @media (max-width: $breakpoint-mobile) {
    .menu-links,
    .theme-switch {
      display: none;
    }

    .sidenav-button {
      width: 50px;
      height: 50px;
      padding: 0;
      font-size: 1.4em;
      border-radius: 50%;
    }

    .sidenav-switcher {
      display: inherit;

      & button {
        z-index: 0;
      }
    }

    .behind-sidenav {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: rgba($color: #333, $alpha: .4);

      &.open {
        display: inherit;
        z-index: 1;
      }
    }
  }
}
