.header {
  height: 65px;
  background-color: var(--primary);
  box-shadow: var(--elevation-high);
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    font-weight: 600;
    font-size: 1em;

    &.main {
      font-size: 1.2em;
    }
  }

  .menu-links,
  .authentification {
    padding: 0 20px;
  }
}
