.home {
    padding-top: 2em;

    .main-title {
        text-align: center;
        animation: gradienting 8s ease infinite;
        background: linear-gradient(270deg, var(--primary), var(--secondary));
        background-size: 200% 200%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    @keyframes gradienting { 
        0%   {background-position:0% 50%;}
        50%  {background-position:90% 50%;}
        100% {background-position:0% 50%;}
    }

    .main {
        margin: 0 10%;
        p {
            text-align: justify;
        }

        img.waka {
            display: block;
            margin: 0 auto;
            // reduce size if screen size too small
            max-width: 100%;
        }
    }

}
