.home {
    padding-top: 2em;
    display: flex;
    flex-direction: column;

    .main-title {
        margin: 0 5%;
        text-align: center;
        animation: gradienting 8s ease infinite;
        background: linear-gradient(270deg, var(--primary), var(--secondary));
        background-size: 200% 200%;
        background-clip: content-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @keyframes gradienting {
        0% {
            background-position: 0 50%;
        }

        50% {
            background-position: 90% 50%;
        }

        100% {
            background-position: 0 50%;
        }
    }

    .parallax-button {
        align-self: center;
        margin-top: 30px; 
    }

    .main {
        margin: 0 10%;

        p {
            text-align: justify;
        }

        img.waka {
            display: block;
            margin: 0 auto;
            // reduce size if screen size too small
            max-width: 100%;
        }
    }

}

.mobile {
    .main-title {
        animation: none !important;
    }
}
