@import "../../variables";
.highscores {
    // make the div fill the flex parent remaining space
    flex: 1 1 auto;
    display: grid;
    justify-items: center;
    align-content: space-evenly;
    table {
        width: 40%;
        tbody {
            tr:first-child {
                animation: gradienting 8s ease infinite;
                background: linear-gradient(270deg, var(--primary), var(--secondary));
                background-size: 200% 200%;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    @media (max-width: $breakpoint-mobile) {
        table {
            width: 90%;
        }
    }
}
