@import "../../variables";
.highscores {
    // make the div fill the flex parent remaining space
    flex: 1 1 auto;
    display: grid;
    justify-items: center;
    align-content: space-evenly;
    table {
        width: 40%;
    }
    @media (max-width: $breakpoint-mobile) {
        table {
            width: 90%;
        }
    }
}
