.trucs {
    text-align: center;

    table {
        border-spacing: 100px;
        td:nth-child(odd){
            text-align: right;        
        }
        span {
            font-size: 3em;
            &.nazi {
                display: inline-block;
                animation: spinin 4s linear infinite;
            }
        }
    }
}
