@import "../../variables";
.trucs {
    text-align: center;
    .flex-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 33%;
        @media (max-width: $breakpoint-mobile) {
            margin: 0 10%;
        }
        .row {
            p {
                float: left;
            }
            span {
                float: right;
                font-size: 3em;
                &.yinyang {
                    display: inline-block;
                    animation: spinin 4s linear infinite;
                }
            }
        }
    }
}

.mobile {
    .yinyang {
        animation: none !important;
    }
}
