.clicks {
    // make the div fill the flex parent remaining space
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;

    .click {
        position: absolute;
        display: inline-flex;
        transform: translate(-50%, -200%);
    }

    .arrow_box {
        position: relative;
        background: var(--text-color);
        border-radius: var(--rounded);
        color: var(--bg);
        padding: .2em .7em;
        white-space: nowrap;
        box-shadow: var(--elevation-low);
    }

    .arrow_box:after {
        // needed otherwise the arrow doesn't display
        content: "";

        // place it on top of the div
        position: absolute;
        bottom: 100%;
        left: 50%;

        border: solid transparent;
        pointer-events: none;
    }

    .arrow_box:after {
        border-bottom-color: var(--text-color);
        border-width: 10px;
        margin-left: -10px;
        margin-bottom: -1px;
    }
}
