.sidenav {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: transform 300ms ease;
  will-change: transform;
  box-shadow: var(--elevation-high);

  button {
    background-color: transparent;
    color: var(--text-color);
  }

  .table-wrapper {
    display: table;
  }

  .close-button-wrapper {
    height: var(--navbar-height);
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
  }

  a button {
    width: 100%;
    margin: .2em 0;
  }

  &.open {
    -webkit-transform: none;
    transform: none;
  }

  &.closed {
    -webkit-transform: translateX(-110%);
    transform: translateX(-110%);
  }

  .theme-switcher {
    margin-top: auto;
    margin-bottom: .2em
  }
}
