.sidenav {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: transform 300ms ease;
  will-change: transform;
  box-shadow: var(--elevation-high);

  button {
    background-color: transparent;
    color: var(--text-color);
  }

  .table-wrapper {
    display: table;
  }

  .close-button-wrapper {
    height: var(--navbar-height);
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
  }

  a {
    margin: .2em auto;
    width: 96%;

    button {
      width: 100%;
    }
  }

  &.open {
    -webkit-transform: none;
    transform: none;
  }

  &.closed {
    -webkit-transform: translateX(-110%);
    transform: translateX(-110%);
  }

  .bottom-buttons {
    margin-top: auto;
    margin-bottom: .2em;

    button {
      display: block;
      width: 96%;
      margin: 0 auto;

      &.tujou {
        font-size: .9em;

        &:focus {
          box-shadow: var(--elevation-low);
        }
      }

    }
  }
}

.mobile {
  .sidenav {
    transition: transform 500ms ease !important;
  }
}

.modal-content {
  h1 {
    font-size: 3em;
    text-align: center;
  }
}
