.footer {
  height: 40px;
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-around;

  & a {
    cursor: pointer;
    color: var(--white);
  }
}
